/*
 *  Animations
 */

/* Animation config for mouse icon wheel */

.just-scroll.to-up .mouse-icon .wheel,
.just-scroll.to-down .mouse-icon .wheel
  
  /* Modern browsers */
  
  animation-delay: 0s
  animation-duration: 1s
  animation-play-state: running
  animation-timing-function: linear
  animation-iteration-count: infinite
  
  /* WebKit */
  
  -webkit-animation-delay: 0s
  -webkit-animation-duration: 1s
  -webkit-animation-play-state: running
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite
  
  /* Mozilla FireFox 16.0 and lower */
  
  -moz-animation-delay: 0s
  -moz-animation-duration: 1s
  -moz-animation-play-state: running
  -moz-animation-timing-function: linear
  -moz-animation-iteration-count: infinite
  
  /* Opera 12.10 and lower */
  
  -o-animation-delay: 0s
  -o-animation-duration: 1s
  -o-animation-play-state: running
  -o-animation-timing-function: linear
  -o-animation-iteration-count: infinite

/* To up mouse icon wheel */

.just-scroll.to-up .mouse-icon .wheel

  animation-name: to-up-mouse-icon-wheel
  -webkit-animation-name: to-up-mouse-icon-wheel
  -moz-animation-name: to-up-mouse-icon-wheel
  -o-animation-name: to-up-mouse-icon-wheel

/* To down mouse icon wheel */

.just-scroll.to-down .mouse-icon .wheel

  animation-name: to-down-mouse-icon-wheel
  -webkit-animation-name: to-down-mouse-icon-wheel
  -moz-animation-name: to-down-mouse-icon-wheel
  -o-animation-name: to-down-mouse-icon-wheel

/*
 *  Keyframes for mouse icon wheel
 */

@keyframes to-up-mouse-icon-wheel
  0%
    top: 25px
    opacity: 0
  30%
    top: 10px
    opacity: 1
  100%
    top: 5px
    opacity: 0
    
@keyframes to-down-mouse-icon-wheel
  0%
    top: 5px
    opacity: 0
  30%
    top: 10px
    opacity: 1
  100%
    top: 25px
    opacity: 0

@-webkit-keyframes to-up-mouse-icon-wheel
  0%
    top: 25px
    opacity: 0
  30%
    top: 10px
    opacity: 1
  100%
    top: 5px
    opacity: 0
    
@-webkit-keyframes to-down-mouse-icon-wheel
  0%
    top: 5px
    opacity: 0
  30%
    top: 10px
    opacity: 1
  100%
    top: 25px
    opacity: 0