/*
 *  Base
 */

.just-scroll
  width: 24px

/* Mouse icon wheel */

.just-scroll .mouse-icon
  display: block
  width: 24px
  height: 40px
  border: 2px solid
  border-radius: 16px
  margin-top: 10px
  margin-bottom: 10px
  z-index: 10
  opacity: .7

.just-scroll .mouse-icon .wheel
  position: relative
  top: 4px
  width: 2px
  height: 6px
  border-radius: 10px
  margin-left: auto
  margin-right: auto