/*
 *  Color variables
 */

$color-black: rgba(0, 0, 0, 1)
$color-white: rgba(255, 255, 255, 1)
$color-green: rgba(35, 209, 96, 1)

/* Black */

.just-scroll.color-black .mouse-icon
  border-color: $color-black

.just-scroll.color-black .mouse-icon .wheel
  background: $color-black

/* White */

.just-scroll.color-white .mouse-icon
  border-color: $color-white

.just-scroll.color-white .mouse-icon .wheel
  background: $color-white

/* Green */

.just-scroll.color-green .mouse-icon
  border-color: $color-green

.just-scroll.color-green .mouse-icon .wheel
  background: $color-green